<a href="https://colab.research.google.com/github/alexeylazarev13/da_homeworks/blob/main/ML_HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.metrics import mean_absolute_error

In [8]:
RANDOM_STATE = 1011

In [9]:
import csv

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
df = pd.read_csv('/content/drive/MyDrive/csv/train.csv')

In [12]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df['Sex'] = df['Sex'].replace({'male':1,'female':0})
df.dropna(axis = 0, inplace = True)

In [14]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,113783,26.5500,C103,S

In [15]:
df_new = df[['Survived','Pclass','Sex','SibSp','Parch','Fare']]

In [16]:
df_new.head(3)

   Survived  Pclass  Sex  SibSp  Parch     Fare
1         1       1    0      1      0  71.2833
3         1       1    0      1      0  53.1000
6         0       1    1      0      0  51.8625

In [64]:
X_train, X_test, y_train, y_test = train_test_split(df_new, df['Age'], test_size = 0.30,random_state = RANDOM_STATE)

In [18]:
model = LinearRegression()
model.fit(X_train,y_train)
pred_linear = model.predict(X_test)

In [19]:
tree_regressor = DecisionTreeRegressor()
tree_regressor.fit(X_train,y_train)
predict_tree = tree_regressor.predict(X_test)
tree_regressor.feature_importances_
frame = {'The importance of the parameter':tree_regressor.feature_importances_, 'Feature':X_train.columns}
result = pd.DataFrame(frame)
result.sort_values(by='The importance of the parameter', ascending=False)

   The importance of the parameter   Feature
5                         0.473583      Fare
4                         0.328579     Parch
1                         0.068602    Pclass
3                         0.048151     SibSp
0                         0.044100  Survived
2                         0.036985       Sex

In [21]:
print('R^2 ',model.score(X_test,y_test))

R^2  0.09884491606678347

In [22]:
print('R^2 ',tree_regressor.score(X_test,y_test))

R^2  -0.38152678749769064

In [23]:
print('MAE on Linear Regression', mean_absolute_error(y_test, pred_linear))

MAE on Linear Regression 12.000603851656408

In [24]:
print('MAE on DecisionTreeRegressor', mean_absolute_error(y_test, predict_tree))

MAE on DecisionTreeRegressor 14.1